.customer-img {
  /* width: 70px;
  height: 70px;
  object-fit: cover; */

  width: 80;
height: 84;
top: 8px;
left: 8px;
border-radius: 4px;

} 


/* Optional: Card styling for better appearance */
.customer-card {
  border-left: 4px solid #ff7846; /* orange border */
  border-radius: 4px;
  background-color: #fff;
}

/* Responsive image adjustment for 1280px and below */
@media (max-width: 1280px) {
  .customer-img {
    width: 60px;
    height: 60px;
  }
}
